<mat-progress-bar mode="determinate" [value]="currentGame?.progress"></mat-progress-bar>
<div fxLayout fxLayoutAlign="end end">
    <button mat-raised-button color="accent" (click)="nextLevel()">Siguiente Nivel</button>
</div>
<div fxLayout fxLayoutAlign="center center">
    <div>
      </div>
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <img [src]="'../assets/images/levels/' + currentGame?.level + '.png'" *ngIf="currentGame" [@enterAnimation]/>
            <h2  *ngIf="currentGame" [@enterAnimation]>{{ currentGame.game.text }}</h2>
            <div class="play-button" *ngIf="!play" (click)="play = false">
                <button
                    style="width: 80px; height: 80px;"
                    mat-fab
                    color="accent"
                    (click)="startTimer()"
                >
                    Jugar
                </button>
            </div>
            <div fxFlexOffset.sm="1" fxFlexOffset="10" *ngIf="play">
                <mat-progress-spinner
                    class="example-margin"
                    color="accent"
                    mode="determinate"
                    [value]="progressbarValue"
                    style="margin-left: 12px"
                >
                </mat-progress-spinner>
                <img
                    src="./assets/images/kroopy.png"
                    style="position:relative; top: -75px; left: 37px; max-width: 40%;"
                />
            </div>
        </div>
</div>
