@import '~@angular/material/theming';
.level {
  text-align: right;
  font-size: 28px;
  color: #e22bc3;
}

.male-text {
  color: mat-color($mat-indigo, 300);
}

.female-text {
  color: mat-color($mat-pink, 300);
}
