
<div>
    <h1>KROOPY es un juego erótico para parejas.</h1>
    <p>Esta pensado para animar las relaciones sexuales de forma única y divertida.
    Un requisito muy importante para disfrutar al máximo del juego es una actitud abierta y sentido de humor.</p>
    <h1>¿Como funciona?</h1>
    <mat-list>
      <p>El juego consiste en ir cumpliendo retos de diferentes niveles. Hay 5 niveles diferentes en los cuales hay un objetivo:</p>
      <mat-list-item>NIVEL 1:El primer nivel consiste en excitar y acomodar a la pareja. Es un conjunto de retos para "romper el hielo".</mat-list-item>
      <mat-list-item>NIVEL 2:En este nivel vais a acabar sin ropa. Los retos consisten en quitarse la ropa.</mat-list-item>
      <mat-list-item>NIVEL 3:Nivel 3 proporciona juegos eróticos basados en caricias sin ropa y sexo oral.</mat-list-item>
      <mat-list-item>NIVEL 4:  La cosa se pones interesante...</mat-list-item>
      <mat-list-item>RONDA FINAL¡Sorpresa!</mat-list-item>
    </mat-list>
    <h1>¿Como se juega?</h1>
    <p>Al iniciar se os pedirá que elijáis una lista de objetos que tenéis en casa para poder incluir los retos asociados con estos accesorios a la dinámica del juego.En la siguiente pantalla debéis introducir vuestros nombres y pulsar el botón de jugar para empezar el juego.</p>
    <h1>Juego</h1>
    <p>
    El juego empieza en el nivel 1 ofreciendo un reto en cada turno.
    Pulsando el botón de "jugar", aceptáis el reto y empieza la cuenta atrás para realizar la prueba.
    ¡TENÉIS UN MINUTO PARA REALIZAR CADA RETO!
    En la barra superior se indica el progreso del nivel actual. El juego pasará al siguiente nivel al cumplir los retos del nivel correspondiente hasta llegar a la ronda final.
    </p>
    <h1>Saltar la prueba</h1>
    <p>
    Si por algún motivo no os gusta el reto propuesto, podéis pasar de turno pulsando la flecha con el texto "saltar".
    </p>
    <h1>Saltar de nivel</h1>
    <p>
    Si el ambiente está demasiado caliente, podéis subir de nivel en cualquier momento pulsando el botón de "subir nivel".
    </p>
    <h1 style="text-align: left;" style="color:deeppink">¡Disfrutad del KROOPY!</h1>
    Escríbenos en:
    kroopy.game@gmail.com
</div>
