<mat-menu #appMenu="matMenu">
  <button mat-menu-item  style="color:#e22bc3" routerLink="/home">Home</button>
  <button mat-menu-item  style="color:#e22bc3">Level</button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu" color="accent" >
  <mat-icon>more_vert</mat-icon>
</button>

<div fxLayout fxLayoutAlign="center center">
  <mat-card fxFlex.gt-md="30%" fxFlex.lt-md="90%" >
    <mat-card-title>Selecciona accesorios</mat-card-title>

    <mat-card-content fxLayout="column" >
      <mat-selection-list [(ngModel)]="selectedOptions">
        <mat-list-option *ngFor="let item of keys(items) " [value]="item">
          {{items[item]}}
        </mat-list-option>
      </mat-selection-list>
      <button mat-raised-button color="accent"  (click)="navigate()">Añadir</button>
    </mat-card-content>
  </mat-card>
</div>
